<tr>
    <td><%= event['summary'] %></td>
    <td><%= event['location'] %></td>
    <td><%= event['start']['dateTime']&.to_datetime&.strftime('%Y-%m-%d %H:%M') %></td>
    <td><%= event['end']['dateTime']&.to_datetime&.strftime('%Y-%m-%d %H:%M') %></td>
    <td><%= link_to 'Edit', edit_calendar_event_path(@calendar, event['id']), class: 'btn btn-warning btn-sm' %> </td>
    <td><%= button_to 'Delete', calendar_event_path(@calendar, event['id']), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
</tr>